fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg2-binary

redis
minio

python-jose[cryptography]

passlib[bcrypt]
httpx
bcrypt==4.0.1

python-multipart

ultralytics
opencv-python
pillow

langchain
langgraph
openai

pytest

pytest
pytest-asyncio
